<template>
  <div class="contact-us">
    <card :header="{title: '联系方式' }">
      <p slot="content" class="card-padding">
        <span>400电话 : 40013123132</span>
        <span>固定电话 : 901-1231 1231</span>
        <span>传真 : 1312312312</span>
      </p>
    </card>
    <card :header="{title: '投诉电话' }">
      <p slot="content" class="card-padding">
        123131414324
      </p>
    </card>
    <card :header="{title: '公司地址' }">
      <p slot="content" class="card-padding">
        <span v-for="(companyAddress,index) in companyAddressList"
              :key="index">{{companyAddress.name}} : {{companyAddress.address}}</span>
      </p>
    </card>
    <div @click="goStores" class="go-store">
      <i class="iconfont icon-mendian"></i>
      <span style="font-size: 0.8em;">门店查询</span>
    </div>
  </div>
</template>
<script>
  import { Card } from 'vux'
  export default {
    name: '',
    data () {
      return {
        companyAddressList: [{
          name: '总部',
          address: 'zzzzzzz'
        }, {
          name: 'xx-分部',
          address: 'xxx'
        }]
      }
    },
    props: [],
    computed: {},
    watch: {},
    methods: {
      goStores () {
        this.$router.push({name: 'StorePage'})
      }
    },
    mounted () {},
    components: {Card}
  }
</script>
<style lang="less">
  .contact-us {
    .weui-panel__hd{
      font-size: 14px;
      color: #000;
    }
    .weui-panel__hd:after {
      border: 0;
    }
    .card-padding {
      padding: 0 15px 15px 15px;
      span {
        display: block;
      }
    }
    .go-store {
      padding: 1em;
      background: #C5E9FF;
      text-align: center;
      font-size: 35px;
      color: #0AA0FF;
      width: 70%;
      border-radius: 10px;
      margin: 0 auto;
      margin-top: 20px;
      i {
        font-size: 1em;
        vertical-align: middle;
      }
    }
  }

</style>
