<template>
  <div class="incerase_credit">
    <flexbox wrap="wrap" :gutter="0" v-for="i in [0,1]" :key="i" class="vux-1px-t vux-1px-b">
      <flexbox-item :span="4" v-for="c in creditInfoList.slice(3*i,3*i+3)" :key="c.iconClass">
        <div>
          <i :class="`iconfont ${c.iconClass}`"></i>
          <p class="grid-center grid-span">{{c.name}}</p>
          <p class="grid-center grid-span" :style="{color:`${c.state === 0 || c.state === 1? '#FE736B' : '#2476FE'}`}">
            {{`${c.state === 0 ? '未录入' : (c.state === 1 ? '未完成' : '去认证')}`}}</p>
        </div>
      </flexbox-item>
    </flexbox>
  </div>
</template>
<script>
  import { Flexbox, FlexboxItem } from 'vux'

  export default {
    name: '',
    data () {
      return {
        creditInfoList: [{
          name: '个人基本信息',
          iconClass: 'icon-gerenjibenxinxi',
          state: 2
        }, {
          name: '工作信息',
          iconClass: 'icon-gongzuoxinxi1',
          state: 1
        }, {
          name: '个人资产',
          iconClass: 'icon-zichan',
          state: 2
        }, {
          name: '个人借贷信息',
          iconClass: 'icon-jiedai1',
          state: 1
        }, {
          name: '申请记录',
          iconClass: 'icon-shenqingjilu',
          state: 1
        }]
      }
    },
    props: [],
    computed: {},
    watch: {},
    methods: {},
    mounted () {},
    components: {
      Flexbox,
      FlexboxItem
    }
  }
</script>
<style lang="less">
  .incerase_credit {
    .vux-flexbox {
      padding: 10px;
      border-bottom: 15px #eee solid;
    }
    .vux-flexbox-item {
      padding-bottom: 5px;
      text-align: center;
    }
    .grid-span {
      font-size: 14px;
    }
  }
</style>
