<template>
  <div class="financial_matter">
    <search
      @result-click="resultClick"
      @on-change="getResult"
      :results="results"
      v-model="value"
      auto-scroll-to-top
      @on-focus="onFocus"
      @on-cancel="onCancel"
      @on-submit="onSubmit"
      ref="search">
      <span slot="right"></span>
    </search>
    <panel :list="list" type="5"></panel>
  </div>
</template>
<script>
  import { Search, Panel } from 'vux'
  export default {
    name: '',
    data () {
      return {
        results: [],
        value: '',
        list: [{
          src: 'http://somedomain.somdomain/x.jpg',
          fallbackSrc: 'http://placeholder.qiniudn.com/60x60/3cc51f/ffffff',
          title: '标题一',
          desc: '由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。',
          url: '/component/cell'
        }, {
          src: 'http://placeholder.qiniudn.com/60x60/3cc51f/ffffff',
          title: '标题二',
          desc: '由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。',
          url: {
            path: '/component/radio',
            replace: false
          }
        }]
      }
    },
    props: [],
    computed: {},
    watch: {},
    methods: {
      resultClick (item) {
        window.alert('you click the result item: ' + JSON.stringify(item))
      },
      getResult (val) {
        console.log('on-change', val)
        this.results = val ? this.getResult(this.value) : []
      },
      onSubmit () {
        this.$refs.search.setBlur()
        this.$vux.toast.show({
          type: 'text',
          position: 'top',
          text: 'on submit'
        })
      },
      onFocus () {
        console.log('on focus')
      },
      onCancel () {
        console.log('on cancel')
      }
    },
    mounted () {},
    components: {
      Search,
      Panel
    }
  }
</script>
<style lang="less">
  .financial_matter {
    .vux-search-box{
      position: relative !important;
    }
    .weui-media-box_appmsg {
      /*flex-flow: row-reverse;*/
    }
  }
</style>
