<template>
  <div class="financial_consulting">
    <div class="header-prompt">
      <span>
        <i class="iconfont icon-zhishiku"></i>
      </span>
      <div>
        <span>金融咨询</span><br/>
        <span>让你时刻掌握国家金融正常知识普及</span>
      </div>
    </div>
    <div>
      <tab :line-width=2 bar-active-color="#45ADFB" active-color="#45ADFB" v-model="indexLoan">
        <tab-item class="vux-center" :selected="demo === index" v-for="(item, index) in loanList"
                  @click="demo = index" :key="index">{{item}}
        </tab-item>
      </tab>
      <card v-model="indexLoan">
        <swiper auto height="100px" slot="header" dots-position="center">
          <swiper-item class="black"><h2 class="title fadeInUp animated">它无孔不入</h2></swiper-item>
          <swiper-item class="black"><h2 class="title fadeInUp animated">你无处可藏</h2></swiper-item>
          <swiper-item class="black"><h2 class="title fadeInUp animated">不是它可恶</h2></swiper-item>
          <swiper-item class="black"><h2 class="title fadeInUp animated">而是它不懂你</h2></swiper-item>
        </swiper>
        <div slot="content" class="card-padding">
          <panel :list="list" type="5"></panel>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
  import { Tab, TabItem, Card, Swiper, SwiperItem, Panel } from 'vux'

  export default {
    name: '',
    data () {
      const list = () => ['热点', '银行贷款', '网络贷款', '信用卡']
      return {
        list: [{
          src: 'http://somedomain.somdomain/x.jpg',
          fallbackSrc: 'http://placeholder.qiniudn.com/60x60/3cc51f/ffffff',
          title: '标题一',
          desc: '由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。',
          url: '/component/cell'
        }, {
          src: 'http://placeholder.qiniudn.com/60x60/3cc51f/ffffff',
          title: '标题二',
          desc: '由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。',
          url: {
            path: '/component/radio',
            replace: false
          }
        }],
        indexLoan: 0,
        demo: 0,
        loanList: list()
      }
    },
    props: [],
    computed: {},
    watch: {},
    methods: {},
    mounted () {},
    components: {
      Tab, TabItem, Card, Swiper, SwiperItem, Panel
    }
  }
</script>
<style lang="less">
  @import "../../../src/assets/css/vars.less";

  .financial_consulting {
    .header-prompt {
      display: block;
      text-align: left;
      background: linear-gradient(#0CB14B, #20E46A);
      color: #fff;
      padding: 10px 0 10px 6em;
      span {
        display: inline-block;
        i {
          font-size: @fontSize32;
        }
      }

      > div {
        display: inline-block;
        text-align: left;
        margin-left: 10px;
        > span:nth-child(1) {
          font-size: @fontSize14;
          font-weight: 700;
        }
      }
    }
    .weui-media-box_appmsg {
      /*flex-flow: row-reverse;*/
    }
  }
</style>
